* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }

body {
    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

#container {
    display: grid;
    grid-template-columns: 1fr 4fr;
}


/* Sidebar styling */
#sidebar {
    background-color: #311a96;
    color:white;
    height: 100%;
    padding: 12px 24px 10px 12px;
}

#logo {
    filter: brightness(0) invert(1);
    margin-right: 8px;
}

svg {
    color:white; 
}

img {
    height: 1.6em;
}

.side_icon {
    height: 1.2em;
    filter: brightness(0) invert(1);
    margin-right: 16px;
}

#sidebar_title{
    display: flex;
    align-items: center;
    font-weight: 600;
    font-size: 1.4em;
    margin-bottom: 44px;
}

ul {
    list-style-type: none;
    padding-left: 0;
    margin-left: 14px;
}

li {
    font-weight: 600;
    display: flex;
    align-items: center; 
    margin-bottom: 20px;
}

li:hover {
    -ms-transform: scale(1); 
    -webkit-transform: scale(1.05);
    transform: translateX(4px);
}

a.announcelinks:hover,
.project:hover,
.profile:hover {
    -ms-transform: scale(1); 
    -webkit-transform: scale(1.05);
    transform: translateX(2px);
}

a {
    text-decoration: none;
    color: white;
}




/* Main page styling */
#main_content {
    display: flex;
    flex-direction: column;
    
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 12px 32px;
}
 
#headersearch {
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    margin-bottom: 20px;
}

#searchbar {
    display: flex;
    align-items: center;
    width: 60%;
}

input {
    border-radius: 12px;
    border: none;
    background-color: #f1dfec;
    height: 1.7em;
    width: 100%;
}

#search_icon {
    margin-right: 12px;
    height: 1.2em;
}

#alert {
    background-color: white;
    border: none;
}

#notif_name {
    display: flex;
    align-items: center;
}

#notif_icon {
    height: 1.3em;
    margin-left: 12px;
    margin-right: 12px;
}

#intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.small_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #a3deb4;
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

#gojo {
    height:30px;
    width: 30px
}

.large_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #a3deb4;
    min-height: 50px;
    min-width: 50px;
    border-radius: 50%;
    margin-right: 12px;
}

#biggojo {
    height: 40px;
}

#welcome {
    display: flex;
    align-items: center;
}

#smalltext {
    font-size: .8em;
    font-weight: 600;
    margin-bottom: .2em;
}

#largetext {
    font-size: 1.3em;
    font-weight: 600;
}

.create {
    border: none;
    color: white;
    font-size: .8em;
    font-weight: 600;
    background-color: #311a96;
    padding: 8px 24px;
    border-radius: 24px;
    margin: 4px 12px;
}

button.create:hover {
    opacity: 0.8;
}

/* main project section */

#page {
    display: grid;
    grid-template-columns: 2.9fr 1.1fr;
    grid-template-rows: 1fr;
    background-color: #f9e2f3;
    padding: 0px 24px 36px 20px;
    /* height: 100%; */
}

h1{
    font-size: 1em;
    margin-top: 24px;
    margin-bottom: 10px;
}

#pagemain {
    display: flex;
    height: 100%;
}

#pagemain-children {
    display: flex;
    flex-direction: column;
    height: 100%;
}


#projects {
    display: grid;
    grid-template: 1fr 1fr 1fr / 1fr 1fr ;
    gap: 20px;
    padding-right: 20px;
    height: 100%;
}

.project {
    display: flex;
    flex-direction: column;
    overflow: scroll;
    justify-content: space-between;
    background-color: white;
    border-radius: 6px;
    border-left: 6px solid #a32542;
    padding: 20px 20px 16px 20px;
}

.title {
    font-weight: bold;
    font-size: .9em;
}

.project_description {
    color: grey;
    font-size: .8em;
    margin-top: 4px;
}

.project_buttons {
    display: flex;
    justify-content: end;
    margin-top: 8px;
}

.projectnav {
    height: 1.3em;
    margin-right: 8px;
}

.project_nav {
    border: none;
    background-color: white;
}


/* announcements */
#notes {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.notes-child {

}

a.announcelinks {
    display: grid;
    max-height: 100px;
    color: black;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;   
}

#announcements {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 24px 24px;
    border-radius: 6px;
    flex-grow: 1;
}

.announcetitle {
    font-size: .8em;
    margin: 0;
    font-weight: bold;
}

p.announcedescription {
    font-weight: 400;
    color: grey;
    font-size: .7em;
    margin-top: 2px;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit to three lines */
    -webkit-box-orient: vertical; /* Set orientation */
    overflow: hidden;
    text-overflow: ellipsis;
}

#maintenance,
#commshareday {
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    margin-bottom: 12px;
    border-bottom: solid 1px lightgrey;
}


/* trending */

#trending {
    display: grid;
    gap: 16px;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}

.profile {
    display: flex;
    align-items: center;
}

#sukuna_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #88d8ee;
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

#panda_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #f792e1;
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

#nanami_profile {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #bb6146;
    min-height: 40px;
    min-width: 40px;
    border-radius: 50%;
    margin-right: 12px;
}

.handle {
    display: flex;
    flex-direction: column;
}
 
.username {
    font-size: .7em;
}

.projectname {
    font-size: .7em;
    color:grey;

}

@media only screen and (max-width: 700px){
  
    #projects {
        display: flex;
        flex-direction: column;
    }
}


